doctype html
html.no-js(lang="")
  head
    meta(charset="utf-8")
    title Minify some css
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="css/codemirror.css")
  body
    main(role="main" id="main")
      #options-panel.options-panel(aria-hidden="true")
        label.option(for="preset") Preset
        select(id="preset")
          option(value="default") default
          option(value="advanced") advanced
      .drop-zone
        div
          h1 Drop a CSS file here
          p It will be minified with cssnano and the output shown on the right.
        p
          span or pick a file&#32;
          input(type="file", id="the-file")
        div
          span or paste css here&#32;
          textarea(id="paste-input")
      .output
        textarea
      footer
        button.show-options(aria-controls="options-panel", aria-expanded="false", data-show-content="Show options", data-hide-content="Hide options") Show options
        div Full list of optimizations <a href="http://cssnano.co/optimisations/">http://cssnano.co/optimisations/</a>

    script(src="js/main.js", defer)
