doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Minify CSS with cssnano
    meta(name="description" content="Drag and drop css minification with cssnano")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest", href="/site.webmanifest")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#40b97b")
    meta(name="msapplication-TileColor", content="#603cba")
    meta(name="theme-color", content="#40b97b")

    style!= inlineCss
  body
    nav.side-panel#side-panel(aria-hidden="false")
      h1.side-panel__content Drop a CSS file
      p.side-panel__content It will be minified with #[a(href="https://cssnano.co") cssnano] and the output shown on the right.
      p.side-panel__content Full list of optimizations #[a(href="https://cssnano.co/optimisations/") https://cssnano.co/optimisations/]
      ul.side-panel__actions
        li
          label.side-panel__action(for="the-file")
            .side-panel__icon-wrap
              <svg height="32" viewBox="0 0 12 16" version="1.1" width="24" aria-hidden="true"><path fill-rule="evenodd" d="M6 5H2V4h4v1zM2 8h7V7H2v1zm0 2h7V9H2v1zm0 2h7v-1H2v1zm10-7.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v12h10V5z"></path></svg>
            .side-panel__action-inner
              span.side-panel__action-text Pick a file
              input.side-panel__file-input(type="file", id="the-file" accept=".css")
        li
          label.side-panel__action(for="paste-input")
            .side-panel__icon-wrap
              <svg height="32" viewBox="0 0 14 16" version="1.1" width="28" aria-hidden="true"><path fill-rule="evenodd" d="M2 13h4v1H2v-1zm5-6H2v1h5V7zm2 3V8l-3 3 3 3v-2h5v-2H9zM4.5 9H2v1h2.5V9zM2 12h2.5v-1H2v1zm9 1h1v2c-.02.28-.11.52-.3.7-.19.18-.42.28-.7.3H1c-.55 0-1-.45-1-1V4c0-.55.45-1 1-1h3c0-1.11.89-2 2-2 1.11 0 2 .89 2 2h3c.55 0 1 .45 1 1v5h-1V6H1v9h10v-2zM2 5h8c0-.55-.45-1-1-1H8c-.55 0-1-.45-1-1s-.45-1-1-1-1 .45-1 1-.45 1-1 1H3c-.55 0-1 .45-1 1z"></path></svg>
            .side-panel__action-inner
              textarea.side-panel__textarea(id="paste-input")
              span.side-panel__action-text Paste CSS
        li
          label.side-panel__action(for="preset")
            .side-panel__icon-wrap
              <svg height="32" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M4 7H3V2h1v5zm-1 7h1v-3H3v3zm5 0h1V8H8v6zm5 0h1v-2h-1v2zm1-12h-1v6h1V2zM9 2H8v2h1V2zM5 8H2c-.55 0-1 .45-1 1s.45 1 1 1h3c.55 0 1-.45 1-1s-.45-1-1-1zm5-3H7c-.55 0-1 .45-1 1s.45 1 1 1h3c.55 0 1-.45 1-1s-.45-1-1-1zm5 4h-3c-.55 0-1 .45-1 1s.45 1 1 1h3c.55 0 1-.45 1-1s-.45-1-1-1z"></path></svg>
            .side-panel__action-inner
              span.side-panel__action-text Choose Preset
              select.side-panel__select(id="preset")
                option(value="default") default
                option(value="advanced") advanced
        li
          a.side-panel__action(href="https://github.com/Vestride/cssnano-minifier")
            .side-panel__icon-wrap
              <svg height="32" class="octicon octicon-mark-github" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
            .side-panel__action-inner
              span.side-panel__action-text Contribute
      footer.side-panel__content.side-panel__footer
        span Made by #[a(href="https://github.com/Vestride") Glen].
    .overlay
      p Drop it!
    .underlay
    .layout
      .output
        textarea
      button.copy-code(title="copy minified output")
        <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/></svg>
      footer.site-footer
        button.toggle-panel(aria-controls="side-panel", aria-expanded="false", data-show-content="Show options", data-hide-content="Hide options") Show options

    script(src="js/main.js", defer)
