html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #404040;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  line-height: 1.5;
}

main {
  display: block;
  overflow: hidden;
}

a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (min-width: 1600px) {
  body {
    font-size: 1.2em;
  }

  .container {
    max-width: 1400px;
  }
}

main {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 1fr auto;
}

.options-visible main {
  grid-template-columns: auto minmax(0, 1fr) minmax(0, 1fr);
}

.options-panel[aria-hidden="true"] {
  display: none;
}

.options-panel {
  padding: 20px 30px 20px 20px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(240, 240, 240);
}

.option {
  display: block;
}

footer {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  align-items: center;
  justify-content: start;
  height: 40px;
  padding-left: 16px;
  background-color: #404040;
  color: #ffffff;
}

footer a {
  color: #ffffff;
}

.drop-zone {
  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: rgb(250, 250, 250);
  border-right: 1px solid #404040;
  text-align: center;
}

.can-drop .drop-zone {
  background-color: mediumseagreen;
  color: white;
}

.output {
  -webkit-overflow-scrolling: touch;
  font-family: Menlo, Consolas, "Liberation Mono", Courier, monospace;
  font-size: 16px;
  border-left: 1px solid #404040;
  background-color: rgb(250, 250, 250);
}

.drop-zone,
.output {
  width: 100%;
}
